<context>	
		<header>
      <icon class="category-left" data-action="back">
          <img src="icon/back.svg">
      </icon>
      <span class="header-title" data-action="back">
          返回
      </span>
      <icon class="category-right">
          <img src="img/xuexiang.svg">
      </icon>
  </header>
		<div class="addNotice-wrap">
			
			<div class="addNotice-title">
				<input type="text" placeholder="公告的标题" />
			</div>
			<div class="addNotice-text">
				<textarea  rows="2" cols="5"placeholder="公告的内容，可以输入140字"></textarea>
			</div>
			<div class="addNotice-sub">
				<input type="button" value="发布" data-action = "addNew"/>
			</div>
		</div>
		</context>