<context>
	<div style="overflow: hidden;height:100%">
<header>
		<span class="header-title">
          登錄
      </span>
	</header>
	<div class="context-wrap loginPage">
		<div class="loginPage-content">
			<div class="lg-content-infor">
				<div class="lg-con-username">
					<input type="text" id="username" placeholder="請輸入用戶名" />
				</div>
				<div class="lg-con-password">
					<input type="password" id="password" placeholder="請輸入密碼" />
				</div>
			</div>
			<div class="lg-content-chiose">
				<div class="lg-con-remeber">
					記住賬戶名和密碼
				</div>
				<div id="lg-con-chiose">
					<span class="lg-con-noBtn" name="lg-con-noBtn" data-action='no'>
								NO
							</span>
					<span class="lg-con-yesBtn lg-con-style" name="lg-con-yesBtn" data-action='yes'>
								YES
							</span>
				</div>
			</div>
			<div class="lg-content-login">
				<button data-action="submit">登 錄</button>
			</div>
			<p class="lg-content-agree">
				登錄默認同意相關的代理協議
			</p>
		</div>

	</div>
	</div>
	
</context>