<context>
		<header>
      <icon class="category-left" data-action="back">
          <img src="icon/back.svg">
      </icon>
      <span class="header-title" data-action="back">
          返回
      </span>
      <icon class="category-right">
          <img src="img/xuexiang.svg">
      </icon>
  </header>
		<div class = "revise-wrap">
			<div class = "revise-oldpassword">
				<input type="password" placeholder = "原始的密码" />
			</div>
			<div class = "revise-newpassword">
				<input type = "password" placeholder = "输入新的密码" />
			</div>
			<div class="revise-repeat">
				<input type = "password" placeholder = "再次输入密码" />
			</div>
			<div class = "revise-submit">
				<input type = "button"  value = "确定"/>
			</div>
		</div>
		</context>
