<context>
	<header>
		<icon class="category-left" data-action="back">
			<img src="icon/back.svg">
		</icon>
		<span class="header-title" data-action="back">
          转账
      </span>
		<icon class="category-right">
			<img src="img/xuexiang.svg">
		</icon>
	</header>
	<div class="context-wrap addNotice-wrap">
		<div class="my-top">
			<div class="my-icon">

			</div>
			<div class="my-infor">
				<p class="my-user">
					<span class="my-name-name" name="my-name-name">
								用戶ID/用戶名
							</span>
				</p>
			</div>
		</div>
		<div class="addNotice-title">
			<input type="text" placeholder="公告的标题" />
		</div>
		<div class="addNotice-text">
			<textarea rows="2" cols="5" placeholder="公告的内容，可以输入140字"></textarea>
		</div>
		<div>
			<input type="button" value="发布" data-action="addNew" class="addNotice-sub1" />
		</div>
	</div>
</context>